body {
    background-image: url("/Content/Images/login.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
    height: 100vh;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

.card-signin {
    background-color: rgba(60, 60, 60, 0.2);
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(2, 2, 2, 0.1);
}

    .card-signin .card-title {
        font-size: 2.0rem;
    }


.form-signin .btn {
    font-size: 100%;
    border-radius: 3rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    background-color: #7babed;
    border-color: #7babed;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

    .form-label-group input {
        height: auto;
        border-radius: 3rem;
    }

    .form-label-group > input,
    .form-label-group > label {
        padding: var(--input-padding-y) var(--input-padding-x);
    }

    .form-label-group > label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0;
        /* Override default `<label>` margin */
        line-height: 1.5;
        color: #000000;
        border-radius: .25rem;
        transition: all .1s ease-in-out;
    }


a {
    color: white;
}
