.btnResource {
    font-size: 100%;
    border-radius: 3rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: .3rem;
    background-color: #7babed;
    border-color: #7babed;
    width: 30vh;
}
